{{#if error.message.length }}

	<div class="error-holder">
		<p>{{ error.message }}</p>
	</div>

{{else}}

	{{#each categories}}
		<div class="category-holder">
			<h2><span class="icon icon-location-{{ this.icon }}"></span>{{ this.title }}</h2>
			{{#each this.places}}
				<article class="item">
					<div class="entitled">
						<h3>{{ title }}</h3>
                        {{#if photo }}
                            <figure><img src="build/images/company-logo/{{ photo }}" alt="{{ title }}"></figure>
                        {{/if}}
					</div>
                    {{#if phones.length}}
    					<div class="phones-holder">
    						<span class="icon icon-phone"></span>
    						<span class="text">{{ phone_label }}: </span>
    						{{#each phones}}
    							<a href="tel:{{clearPhone this}}">{{ this }}</a>
                            {{else}}
                                <span>{{ phones }}</span>
    						{{/each}}
    					</div>
                    {{/if}}
                    {{#if emails.length}}
    					<div class="emails-holder">
    						<span class="icon icon-envelope"></span>
    						<span class="text">{{ email_label }}: </span>
    						{{#each emails}}
    							<a href="mailto:{{ this }}">{{ this }}</a>
                            {{else}}
                                <span>{{ emails }}</span>
    						{{/each}}
    					</div>
                    {{/if}}
					<div class="address-holder">
						<span class="icon icon-location"></span>
						<span class="text">{{ address_label }}: </span>
						<p>{{ address }}</p>
					</div>
					<p>{{ text }}</p>
				</article>
			{{/each}}
		</div>
	{{/each}}

{{/if}}
